@page "/"

<PageTitle>Home</PageTitle>


<div class="component-picker" style="text-align:center; margin-top: 50%;">
    <a href="/login" style=" background-color:var(--col4); padding: 0.5rem 1rem; text-decoration:none; border-radius: 5rem; margin:0 1rem;">Login page</a>
    <a href="/register" style=" background-color:var(--col4); padding: 0.5rem 1rem; text-decoration:none; border-radius: 5rem; margin:0 1rem;">Registration page</a>
    <a href="/mixed" style=" background-color:var(--col4); padding: 0.5rem 1rem; text-decoration:none; border-radius: 5rem; margin:0 1rem;">Mixed form page</a>
</div>
